.content {
  width: 100%;
  height: 88vh;
  margin-top: 0;
  background-image: url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  /* Shrinks from right initially */
  color: white;
}



@media (max-width: 550px) {
  .content {
    background-position: left top;
    /* Anchors the image to the left once the screen width is 550px or smaller */
  }
}

.content h1 {
  font-size: clamp(1rem, 8vw, 3rem); /* Responsive font size */
  display: inline-block; /* Keep the h1 as an inline-block */
  position: absolute; /* Use absolute positioning for centering */
  left: 50%; /* Move the h1 to the middle horizontally */
  top: 50%; /* Move the h1 to the middle vertically */
  transform: translate(-50%, -50%); /* Adjust for the h1's own size */
  text-align: center; /* Ensure text is centered */
  opacity: 0; /* Start with 0 opacity (fully transparent) */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the fade-in animation */
}

/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start fully transparent */
  }
  to {
    opacity: 1; /* End fully visible */
  }
}